/* MAIN FONT AND BACKGROUND */

body { 
    background: url("../images/eagles-stadium.webp") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Lucida, sans-serif;
}

/* NAVIGATION BAR */

.navbar {
    background-color: #004C54;
    border: 5px solid black;
    z-index: 10;
    padding: 3px;    
    list-style: none;  
}



.navbar a {
    color: #fff;
    border: 3px #004C54 solid;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px;
    font-size: 22px;
    text-decoration: none;
    text-shadow: 3px 3px #004C54;
}

.navbar a:hover {
    box-shadow: 2px 2px 5px 5px;
    background-color: #004C54;
    color: white;
    border: 3px black solid;
    background-color: black;
}


.minilogo {
    background-image: url('../images/eagles-logo.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

/* BANNER */

.banner {
    font-size: 88px;
    color: black;
    text-shadow: 4px 4px #004C54;
}

/* TABLES */

table {
    border: 5px solid #004C54;
    background-color: #ACC0C6;
    opacity:0.9;
}

table h1 {
    color: white;
    text-shadow: 5px 5px #004C54;
    font-size: 48px;
}

th {
    border: 2px solid #004C54;
}

td {
    border: 2px solid #004C54;
}

.blackbackground {
    background-color: black;
}

.silverbackground {
    background-color: #A5ACAF;
}


/* FOOTER */

.footer {
    border: 5px black solid;
    background-color:#004C54;
}


.footer p {
    color: white;
    font-weight: bold;
}

.footer ul {
    list-style: none;
}


.footer a {
    color: white;
    text-decoration: none;  
}

.footer a:hover {
    box-shadow: 2px 2px 5px 5px;
    color: white;
    border: 3px black solid;
    background-color: black;
}