/* MAIN FONT AND BACKGROUND */

html { 
    background: url("../images/eagles-stadium.webp") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Lucida, sans-serif;
}

/* NAVIGATION BAR */

nav {
    background-color: #004C54;
    position: fixed;
    top: 0;
    border: 5px solid black;
    z-index: 10;   
    width: 100%; 
    padding: 0;
    margin: auto;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
nav li {
    display: inline-block;
    padding: 0 5px; 
}

nav a {
    color: #fff;
    border: 3px #004C54 solid;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px;
    font-size: 22px;
    text-decoration: none;
    text-shadow: 3px 3px #004C54;
}

nav a:hover {
    box-shadow: 2px 2px 5px 5px;
    background-color: #004C54;
    color: white;
    border: 3px black solid;
    background-color: black;
}

.minilogo {
    background-image: url('../images/eagles-logo.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

/* BANNER */

main {
    text-align: center;
    margin: 200px auto;
    font-size: 100px;
    color: black;
    text-shadow: 5px 5px #004C54;

}
/* TABLES */

table {
    text-align: center;
    margin: 200px auto;
    border: 5px solid #004C54;
    background-color: #ACC0C6;
    opacity:0.9;
    margin-left: auto;
    margin-right: auto;
}

table h1 {
    color: white;
    text-shadow: 5px 5px #004C54;
    font-size: 48px;
}

th {
    border: 2px solid #004C54;
}

td {
    border: 2px solid #004C54;
    width: 300px;
}

.blackbackground {
    background-color: black;
}

.silverbackground {
    background-color: #A5ACAF;
}


/* FOOTER */

footer {
    border: 5px black solid;
    background-color:#004C54;
    width: 100%;
    margin: auto;
    padding: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer div {
    display: inline-block;
}

footer p {
    color: white;
    font-weight: bold;
}

footer ul {
    list-style: none;
}

footer a {
    color: white;
    text-decoration: none;
    
}

footer a:hover {
    box-shadow: 2px 2px 5px 5px;
    color: white;
    border: 3px black solid;
    background-color: black;
}