
/* MAIN FONT AND BACKGROUND */

html {
    height: 100%;    
    background: url("../images/eagles-stadium.webp") no-repeat center center fixed; 
    background-size: cover;
    font-family: Lucida, sans-serif;    
    margin: 0;
    font-size: 16px;
}

/* MAIN FLEX GRID DISPLAY */

body {
    margin: 0 auto;
  }

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article, form {
    flex-basis: 100%;
}




/* NAVIGATION BAR */

nav {

    display: inline-flex;
    justify-content: center;    
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 2.5rem;
    border-bottom: .25rem solid black;
    border-top: .25rem solid black;    
    background-color: #004C54;   
    top: 0;
    padding: 0.5rem 0;
}


nav a{
    color: #fff;
    border: .25rem #004C54 solid;
    border-radius: 1.25rem;
    box-shadow: 0.0625rem 0.0625rem 0.125rem 0.125rem;
    font-size: 1.25rem;
    text-decoration: none;
    text-shadow: .2rem .2rem #004C54;
    align-items: center;

}

nav a:hover {
    box-shadow: 0.125rem 0.125rem 0.3125rem 0.3125rem;
    background-color: #004C54;
    color: white;
    border: .25rem black solid;
    background-color: black;
}

teamNav {
    display: inline-flex;
    justify-content:center;    
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 2.5rem;
    border-bottom: .25rem solid black;    
    background-color: #ACC0C6;   
    top: 4rem;
    text-align: center;
    padding: 0.5rem 0;

}
teamNav a{
    color: #fff;
    border: .25rem #004C54 solid;
    background-color: black;
    border-radius: 1.25rem;
    box-shadow: 0.0625rem 0.0625rem 0.125rem 0.125rem;
    font-size: 1.25rem;
    text-decoration: none;
    text-shadow: .2rem .2rem #004C54;
}

teamNav a:hover {
    box-shadow: 0.125rem 0.125rem 0.3125rem 0.3125rem;
    background-color: #004C54;
    color: white;
    border: .25rem black solid;
    background-color: black;
}

.minilogo {
    background-image: url('../images/eagles-logo.png');
    background-size: cover;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    vertical-align: middle;
}
@media screen and (max-width: 440px) {
    .minilogo {
        display: none;
    }
}


/* BANNER */

.banner {
    font-size: 4.5rem;
    color: black;
    text-shadow: .25rem .25rem #004C54;    
    text-align: center;
    justify-content: center;
    padding-top: 5%;
}
@media screen and (max-width: 600px) {
    html {
        font-size: .7rem;
    }
}

main .images {
    justify-content: center;
}
main img {
    width: 80%;
    height: auto;
    border: .25rem solid #004C54;
    margin: 2%;
}


/* WEEKLY TEAM */

.weeklyTeam {
    margin-top: 10%;
    border: .25rem solid #004C54;
    background-color: white;
    opacity: 80%;
    justify-content: center;
}

.weeklyTeam form {
    margin: 30px;
    text-align: center;
    min-width: fit-content;
    max-width: fit-content;
}

.weeklyTeam span {
    font-size: larger;
    font-weight: bold;
    
}
@media screen and (max-width: 600px) {
    .weeklyTeam {
        height: auto;
        margin-top: 25%;
        justify-content: center;
    }}
    
/* TABLES */

.teamsTable {
    justify-content: center;
    align-content: center;
    margin-top: 5%;
}

.standingsTable {
    justify-content: center;
    align-content: center;
    margin-top: 20%;

}
table {
    border: 0.3125rem solid #004C54;
    background-color: #ACC0C6;
    opacity:0.9;
    text-align: center;
    
}


table h1 {
    color: white;
    text-shadow: 0.3125rem 0.3125rem #004C54;
    font-size: 3rem;
}

th {
    border: 0.125rem solid #004C54;

}

td {
    border: 0.125rem solid #004C54;

}


.blackbackground {
    background-color: black;
}

.silverbackground {
    background-color: #A5ACAF;
}
@media screen and (max-width: 600px) {
    .teamsTable, .standingsTable {
        width: 70%;
        height: auto;
        margin-top: 25%;
        padding: 0 10%;
        
    }
}

/* FOOTER */

footer {
    border-bottom: 0.3125rem solid black;
    border-top: 0.3125rem solid black;
    background-color:#004C54;    
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
    width: 100%;
}

footer h3 {
    color: white;
    font-weight: bold;
}

footer menu {
    list-style: none;
}


footer a {
    color: white;
    text-decoration: none;  
}

footer a:hover {
    box-shadow: 0.125rem 0.125rem 0.3125rem 0.3125rem;
    color: white;
    border: 0.1875rem black solid;
    background-color: black;
}

.handles {
    padding: 0.0625rem;
}

