<div class="navigation">
    <ul class="navbar">
        <li class="nav home"><div class="minilogo"></div><a href="#">Home</a></li>
        <li class="nav padrespunishers"><div class="minilogo"></div><a href="./webpages/padrespunishers.html">Padre's Punishers</a></li>
        <li class="nav churchilleagles"><div class="minilogo"></div><a href="./webpages/churchilleagles.html">Churchill Eagles</a></li>
        <li class="nav numerouno"><div class="minilogo"></div><a href="./webpages/numerouno.html">Numero Uno</a></li>
        <li class="nav standings"><div class="minilogo"></div><a href="./webpages/standings.html">Standings</a></li>
    </ul>
</div>